# Python virtual environment
venv/
ENV/
.env/
.venv/

# Dataset directory
/dataset/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.bak

# Build artifacts
dist/
build/
*.egg-info/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# MyPy
.mypy_cache/
.dmypy.json

# Other common ignores
*.sqlite3
*.db
